<style>
</style>
<!-- This is Afrooz's designed taste graphs.  -->
<div class="col-md-6" id="right" ng-onload="fn('right')">
    <h2>Tastes</h2>
    <div id="tastes">
        <div id="title"></div>
        <div id="legend"></div>
        <div id="radio-selection">
            <label class="radio-container"> Sort by Size
              <input type="radio" checked="checked" name="radio" value="size">
              <span class="checkmark"></span>
            </label>
            <label class="radio-container"> Sort by Score
              <input type="radio" name="radio" value="score">
              <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <script type="text/javascript" src="barchart.js"></script>
</div>
